h1 {
  color: rgb(53, 201, 97);
  font-size: 4em;
  text-align: center;
}

h2 {
  color: rgb(201, 53, 75);
  font-size: 3 em;
  text-align: center;
}

h4 {
  color: rgb(204, 16, 44);
  font-size: 3 em;
  text-align: left;
}

.options {
  display: flex;
  background-color: pink;
}
